* {
  font-family: Arial, Helvetica, sans-serif;
}

.viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.div_info {
  width: 80%;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  width: 70%;
  color: white;
  text-align: left;
}

.views {
  width: 15%;
  color: rgb(162, 162, 162);
  text-align: right;
}

.description {
  padding-top: 15px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
}

.date {
  width: 20%;
  color: white;
  text-align: right;
}

.channel_name {
  width: 80%;
  color: white;
  text-align: left;
}

.channel_a {
  color: white;
}

.nav_bar {
  width: 100%;
}

.active {
  background-color: #c71111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313131;
}

.nice_ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #1E1F1C;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(30, 31, 28, 0.4);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.right {
  margin-left: auto;
}

.container {
  width: 15%;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  color: rgb(162, 162, 162);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 10px;
}

.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: rgb(162, 162, 162);
}

.container:hover input ~ .checkmark {
  background-color: rgb(100, 100, 100);
}

.container input:checked ~ .checkmark {
  background-color: #c71111;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: flex;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}