* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1E1F1C;
}

.nav_bar {
    width: 100%;
}

.active {
    background-color: #c71111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313131;
}

.nice_ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #1E1F1C;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(30, 31, 28, 0.4);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#channels {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#channels td,
#channels th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

#channels tr:nth-child(even) {
    background-color: #f2f2f2;
}

#channels tr:hover {
    background-color: #ddd;
}

#channels th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(49, 49, 49);
    color: white;
}

.channel {
    color: white;
}

.right {
    margin-left: auto;
}