<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Youtube Cuck</title>
        <meta name="description" content="Bootleg Garbagio Youtube">
        <meta name="author" content="Repi Gamer">
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="stylesheet" href="../static/yt_cuck.css">
    </head>
    <body>
        <ul class="nav_bar">
            <li>
                <a {% if request.url.path.endswith('/') %}class="active"{% endif %}
                   href="/">Home</a>
            </li>
            <li>
                <a {% if request.url.path.endswith('shorts') %}class="active"{% endif %}
                   href="shorts">Shorts</a>
            </li>
            <li>
                <a {% if request.url.path.endswith('most_recent_video') %}class="active"{% endif %}
                   href="most_recent_video">Continue</a>
            </li>
            <li>
                <a {% if request.url.path.endswith('most_recent_videos') %}class="active"{% endif %}
                   href="most_recent_videos">History</a>
            </li>
            <li>
                <a {% if request.url.path.endswith('subs') %}class="active"{% endif %}
                   href="subs">Subscriptions</a>
            </li>
            <li>
                <a {% if request.url.path.endswith('playlist') %}class="active"{% endif %}
                   href="playlist">Playlists</a>
            </li>
            <li class="right">
                <a id="add">Add Channel</a>
            </li>
            {% if data[4] %}
                <li>
                    <a id="rss_ref" class="active" onclick="refresh_rss()">Last Refresh - {{ data[2] }} -> {{ data[3] }}</a>
                </li>
            {% else %}
                <li>
                    <a id="rss_ref" onclick="refresh_rss()">Last Refresh - {{ data[2] }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="grid-container">
            {% for row in data[0] %}
                <div class="card">
                    <a href="video/{{ row['id'] }}">
                        <div class="center-div-video">
                            <div style="background-size: cover;
                                        background-position: center;
                                        background-image: url('thumbnails/{{ row['thumb_path'] }}');
                                        width: 360px;
                                        height: 200px;
                                        position: relative">
                                <div class="video-duration" style="left: 10px;">{{ row['size'] }}</div>
                                <div class="progress-bar">
                                    <div class="progress-fill"
                                         style="width: {{ row['progress_percentage'] }}%"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="content">
                        <div class="center-div-title">
                            <h3>{{ row['title'] }}</h3>
                        </div>
                        <div class="center-div">
                            <p class="channel_name">
                                <a class="channel_a" href="channel/{{ row['channel'] }}">{{ row['channel'] }}</a>
                            </p>
                            <p class="views">{{ row['views'] }} views</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form id="channel_form">
                        <label for="channel_name" style="color:white;">Channel name:</label>
                        <input type="text" id="channel_name" name="channel_name">
                        <br>
                        <br>
                        <label for="channel_id" style="color:white;">Channel ID:</label>
                        <input type="text" id="channel_id" name="channel_id">
                        <br>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div style="padding-top: 15px;"></div>
        <ul class="nice_ul">
            {% if data[1] != 0 %}
                {% if data[1]-1 == 0 %}
                    <li>
                        <a href="">Home</a>
                    </li>
                {% else %}
                    <li>
                        <a href="page/{{ data[1]-1 }}">{{ data[1]-1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="active" href="page/{{ data[1] }}">{{ data[1] }}</a>
            </li>
            <li>
                <a href="page/{{ data[1]+1 }}">{{ data[1]+1 }}</a>
            </li>
        </ul>
        <script src="../static/add_channel_modal.js"></script>
        <script src="../static/refresh_rss.js"></script>
    </body>
</html>
